:root {
  --color: white;
  --background-color: #202020;
  --ball-size: 0.5rem;
  --line-len: 1.5rem;
  --gap: 0.8rem;
  --duration: 0.5s;
}

body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: var(--gap);
  background-color: var(--background-color);
  padding: 1rem;
  overflow: hidden;
}

.line {
  background-color: var(--color);
  height: var(--line-len);
  width: 0.05rem;
}

.ball {
  background-color: var(--color);
  height: var(--ball-size);
  width: var(--ball-size);
  border-radius: 50%;
}

.pendulum {
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: oscillation var(--duration) ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
  transform-origin: 50% top;
}

@keyframes oscillation {
  from {
    transform: rotate(20deg);
  }
  to {
    transform: rotate(-20deg);
  }
}

.pendulum:nth-child(10n + 0) {
  animation-delay: calc(2 * 0 * var(--duration) / 10);
}
.pendulum:nth-child(10n + 1) {
  animation-delay: calc(2 * 1 * var(--duration) / 10);
}
.pendulum:nth-child(10n + 2) {
  animation-delay: calc(2 * 2 * var(--duration) / 10);
}
.pendulum:nth-child(10n + 3) {
  animation-delay: calc(2 * 3 * var(--duration) / 10);
}
.pendulum:nth-child(10n + 4) {
  animation-delay: calc(2 * 4 * var(--duration) / 10);
}
.pendulum:nth-child(10n + 5) {
  animation-delay: calc(2 * 5 * var(--duration) / 10);
}
.pendulum:nth-child(10n + 6) {
  animation-delay: calc(2 * 6 * var(--duration) / 10);
}
.pendulum:nth-child(10n + 7) {
  animation-delay: calc(2 * 7 * var(--duration) / 10);
}
.pendulum:nth-child(10n + 8) {
  animation-delay: calc(2 * 8 * var(--duration) / 10);
}
.pendulum:nth-child(10n + 9) {
  animation-delay: calc(2 * 9 * var(--duration) / 10);
}
